.option ul {
    display: flex;
    list-style-type: none;
    padding-top: 5rem;
    padding-left: 3rem;
}

.option ul li {
    display: flex;
}

.option ul li a {
    color: black;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 1.5rem 0.3rem;
    transition: all 0.25s ease;
}

main {
    display: flex;

}

.right {
    padding: 4rem 8rem;
}

.right h5 {
    margin-top: 2rem;
}

@media (max-width: 700px) {
    main {
        display: inline-block;
    }
    .right{
        padding-left: 2rem;
    }
}
.date1{
    margin-left: 0.5rem; 
    margin-bottom:1rem;    
}
.date2{
    margin-left: 0.5rem;
    margin-bottom:1rem;
}